<section>
  <div>
    <app-banner-slideshow></app-banner-slideshow>
  </div>
  <div class="main-slider-bar hidden-xs">
    <div class="container">
      <ul class="main-slider-info">
        <li class="col-sm-4 col-xs-12">
          <div class="main-slider-info-cell">
            <div class="cell-icon">
              <i class="admin-site"></i>
            </div>
            <div class="cell-content">
              <span class="cell-caption">FREE SHIP</span>
              <span class="cell-subcaption">On all orders over 90$</span>
            </div>
          </div>
        </li>
        <li class="col-sm-4 col-xs-12">
            <div class="main-slider-info-cell">
              <div class="cell-icon">
                <i class="smartphone"></i>
              </div>
              <div class="cell-content">
                <span class="cell-caption">CALL US ANYTIME</span>
                <span class="cell-subcaption">+841234808818</span>
              </div>
            </div>
          </li>
        <li class="col-sm-4 col-xs-12">
          <div class="main-slider-info-cell">
            <div class="cell-icon">
              <i class="location-alt"></i>
            </div>
            <div class="cell-content">
              <span class="cell-caption">OUR LOCATION</span>
              <span class="cell-subcaption">557-6308 Lacinia Road. NYC</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>