<ngx-carousel
[inputs]="carouselBanner"
[moveToSlide]="1"
(onMove)="onmoveFn($event)">

    <ngx-item NgxCarouselItem class="bannerStyle" style="background: url('assets/banner01.jpg'); min-height: 300px">
        <h1>1</h1>        
    </ngx-item>

    <ngx-item NgxCarouselItem class="bannerStyle" style="background: url('assets/banner02.jpg'); min-height: 300px">
        <h1>2</h1>
    </ngx-item>

    <ngx-item NgxCarouselItem class="bannerStyle" style="background: url('assets/banner03.jpg'); min-height: 300px">
        <h1>3</h1>
    </ngx-item>

    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
    
</ngx-carousel>